{% extends "header.html" %}   // Inherits all the components from base template, including the header and footer
{% block targeting %}class="nav-link active"{% endblock %}
{% block engagement %}class="nav-link"{% endblock %}
{% block dashboard %}class="nav-link"{% endblock %}
{% block instaConn %}class="nav-link"{% endblock %}
{% block myprofile %}class="nav-link"{% endblock %}


{% block content %}
{% load static %}

    <div class="container-fluid">

      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{% static 'NewDashboard/assets/img/curved-images/curved0.jpg' %}'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
   <div class="card card-body blur shadow-blur mx-4 mt-n6">
        <div class="row gx-4">
<div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
               Targeting
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
AYLA's proprietary AI algorithm, combined with Instagram locations, #hashtags, and user interests are used in evaluating and finding the best prospect profiles that might be your next customers. We engage with them in a natural way to encourage them to follow. If you see any target prospects you feel don't match your account you can simply deactivate the ones you don't like.

              </p>
            </div>
          </div>
          <div class="col-sm-4 col-8 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">


<!-- Tabs content -->

<!-- Tabs content -->
            </div>
          </div>
        </div>
      </div>
    </div>
 <!-- ***********************************************  END TEXT CONTENT--content box --the middle  ************************************************************** -->

  <!-- ***********************************************  dynamic CONTENT--content box --the middle  ************************************************************** -->

    <div class="container-fluid py-4">





<ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="ex3-tab-1"
      data-mdb-toggle="tab"
      href="#ex3-tabs-1"
      role="tab"
      aria-controls="ex3-tabs-1"
      aria-selected="true"
      >Dashboard</a
    >
  </li>

  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="ex3-tab-3"
      data-mdb-toggle="tab"
      href="#ex3-tabs-3"
      role="tab"
      aria-controls="ex3-tabs-3"
      aria-selected="false"
      >Configure</a
    >
  </li>
</ul>

  <!-- ***********************************************  END dynamic CONTENT--content box --the middle  ************************************************************** -->
 <!-- ***********************************************  END content box --the middle  ************************************************************** -->



 <!-- ***********************************************  Chart data   ************************************************************** -->

<div class="tab-content" id="ex2-content">
  <!-- ***********************************************   Tab 1 data Chart data   ************************************************************** -->

  <div
    class="tab-pane fade show active"
    id="ex3-tabs-1"
    role="tabpanel"
    aria-labelledby="ex3-tab-1"
  >
        <div class="row">
     <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Target Users</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">Profiles generated by our AI might be your next customer
</span>
                  </p>
                </div>
                <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                     <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Profile</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Location</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Relevancy Score</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Last activity</th>

                    </tr>
                     <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">John Michael</h6>
                            <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>
                          </div>
                        </div>
                      </td>
                      <td>
                 <p class="text-xs font-weight-bold mb-0">Canada</p>
                        <p class="text-xs text-secondary mb-0">Toronto</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">  85% </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                      </td>
                      <td>
                        <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
                  </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="../assets/img/team-3.jpg" class="avatar avatar-sm me-3">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Alexa Liras</h6>
                            <p class="text-xs text-secondary mb-0">alexa@creative-tim.com</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">Canada</p>
                        <p class="text-xs text-secondary mb-0">Toronto</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-secondary"> 45%  </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                      </td>
                      <td>
                        <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
                  </div>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Interactions</h6>
              <h7 class="text-body text-xs font-weight-bolder">Profiles they received our interaction based on their relevance score </h7>
            </div>
            <div class="card-body p-3">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                  <div class="avatar me-3">
                    <img src="../assets/img/kal-visuals-square.jpg" alt="kal" class="border-radius-lg shadow">
                  </div>
                  <div class="d-flex align-items-start flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Sophie B.</h6>
                  </div>
                  <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">5 likes</a>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                  <div class="avatar me-3">
                    <img src="../assets/img/marie.jpg" alt="kal" class="border-radius-lg shadow">
                  </div>
                  <div class="d-flex align-items-start flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Anne Marie</h6>
                  </div>
                  <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">3 likes</a>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                  <div class="avatar me-3">
                    <img src="../assets/img/ivana-square.jpg" alt="kal" class="border-radius-lg shadow">
                  </div>
                  <div class="d-flex align-items-start flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Ivanna</h6>
                  </div>
                  <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">6 likes</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
  </div>

        <div class="col-12 mt-4">
          <div class="card mb-4">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-1">Followers Growth</h6>
            </div>
            <div class="card-body p-3">
                        <div class="card">
            <div class="card-header pb-0">
              <p class="text-sm">
                <i class="fa fa-arrow-up text-success"></i>
                <span class="font-weight-bold">4% more</span> in Jun
              </p>

            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="300px"></canvas>
              </div>
            </div>
          </div>

            </div>
          </div>
        </div>
      </div>
   <!-- ***********************************************  END Tab 1 data Chart data   ************************************************************** -->
   <!-- ***********************************************   Tab 2 data Chart data   ************************************************************** -->

 <div
    class="tab-pane fade"
    id="ex3-tabs-3"
    role="tabpanel"
    aria-labelledby="ex3-tab-3"
  >
<form>



 <div class="row">

        <div class="col-12 col-xl-4 mt-4">
          <div class="card">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Activity Settings</h6>
            </div>
            <div class="card-mt p-3">
              <h6 class="text-uppercase text-body text-xs font-weight-bolder">Type of Interactions you want Ayla do</h6>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked="">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Likes</label>
                  </div>
                </li>
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault1">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault1">Story Views</label>
                  </div>
                </li>
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault2" checked="">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault2">Comment Likes</label>
                  </div>
                </li>
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault2" checked="">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault2">Organic Actions™ By our AI algorithms</label>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
         <div class="col-12 col-xl-4 mt-4">
          <div class="card h-60">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Target Specifications</h6>
            </div>
            <div class="card-mt p-3">
              <h6 class="text-uppercase text-body text-xs font-weight-bolder">Profile types</h6>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked="">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Must have profile picture</label>
                  </div>
                </li>
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault1">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault1">Must be business account</label>
                  </div>
                </li>
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault2" checked="">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault2">Must be verified</label>
                  </div>
                </li>
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault2" checked="">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault2">Selected by By our AI algorithms</label>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 mt-4">
          <div class="card h-60">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Generating Targets</h6>
            </div>
            <div class="card-mt p-3">
              <h6 class="text-uppercase text-body text-xs font-weight-bolder">Extra Options</h6>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked="">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Use your location to get targets</label>
                  </div>
                </li>
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault1">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault1">Use your competitors to get targets</label>
                  </div>
                </li>
                </li>
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault1">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault1">Target only public profiles</label>
                  </div>
                </li>
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault2" checked="">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault2">Use our AI algorithms to get best targets</label>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>

      </div>



<div class="row mt-4">
        <div class="col-xl-6 col-sm-6 mt-4">
          <div class="card">
            <div class="card-body p-3">
      <label for="inputState">Gender</label>
    <div class="col-auto my-1">
      <select class="form-control">
        <option selected>Interaction With All</option>
        <option value="1">Female</option>
        <option value="2">Male</option>
        <option value="3">Interaction With All</option>
      </select>
    </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-sm-6 mt-4">
          <div class="card">
            <div class="card-body p-3">
                    <label for="inputState">Last post not older than</label>
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
      <select class="form-control">
        <option selected>All profiles</option>
        <option value="1">30 days</option>
        <option value="2">7 days</option>
        <option value="3">1 day</option>
      </select>
    </div>
            </div>
          </div>
        </div>
      </div>







  <div class="row mt-4">
        <div class="col-xl-6 col-sm-6 mt-4">
          <div class="card">
            <div class="card-body p-3">
      <label> Filter profiles by their Engagement rate :</label>
      <div class="col-auto my-1">
        <div class="slidecontainer">
         <input type="range" min="1" max="1000" value="50" class="slider" id="engagement">
          <p>Profiles have more than: <span id="engagementValue"></span> Engagements </p>
        </div>
      </div>


            </div>
          </div>
        </div>

        <div class="col-xl-6 col-sm-6 mt-4">
          <div class="card">
            <div class="card-body p-3">
              <label>Select how many followers your target audience has :</label>

      <div class="col-auto my-1">
        <div class="slidecontainer">
         <input type="range" min="1" max="100000" value="50" class="slider" id="followers">
          <p>Profiles have more than: <span id="followersValue"></span> followers </p>
        </div>
      </div>
            </div>
          </div>
        </div>
      </div>



<div class="row mt-4">
        <div class="col-xl-6 col-sm-6 mt-4">
          <div class="card">
            <div class="card-body p-3">
      <label> Select how many followings your target audience has :</label>

      <div class="col-auto my-1">
        <div class="slidecontainer">
         <input type="range" min="1" max="100000" value="50" class="slider" id="followings">
          <p>Profiles have more than: <span id="followingsValue"></span> followings </p>
        </div>
      </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-sm-6 mt-4">
          <div class="card">
            <div class="card-body p-3">
              <label>Select target audience based on their number of posts :</label>

      <div class="col-auto my-1">
        <div class="slidecontainer">
         <input type="range" min="1" max="1000" value="50" class="slider" id="posts">
          <p>Profiles have more than: <span id="postsValue"></span> posts </p>
        </div>
      </div>
            </div>
          </div>
        </div>
      </div>



</form>





























     <!-- ***********************************************   END Tab 2 data Chart data   ************************************************************** -->

          </div>


     <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"
></script>


     <!-- ***********************************************   END Chart data   ************************************************************** -->

{% endblock %}