{% extends "header.html" %}   // Inherits all the components from base template, including the header and footer
{% block engagement %}class="nav-link"{% endblock %}
{% block targeting %}class="nav-link"{% endblock %}
{% block dashboard %}class="nav-link"{% endblock %}
{% block instaConn %}class="nav-link"{% endblock %}
{% block myprofile %}class="nav-link active"{% endblock %}

{% block content %}
{% load static %}


<main class="main-content mt-1">

    <div class="page-header align-items-start section-height-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('{% static 'NewDashboard/assets/img/curved-images/curved14.jpg' %}');">

      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
            <h1 class="text-white mb-2 mt-5">Profile settings</h1>
            <p class="text-lead text-white"> If you want to see what we can do for your Instagram profile, you first need to enter your Instagram username and let us do the magic! </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">

      <div class="row">

        <div class="col-lg-12 mt-lg-0 mt-4">
          <!-- Card Profile -->

          <!-- Card Basic Info -->

          <!-- Card Change Password -->

          <!-- Card Change Password -->
          <div class="card mt-4" id="2fa">
            <div class="card-header d-flex">
              <h5 class="mb-0">Profile Settings</h5>
              <span class="badge badge-success ms-auto">Enabled</span>
            </div>
            <div class="card-body">
              <div class="d-flex">
                <p class="my-auto">Email</p>
                <p class="text-secondary text-sm ms-auto my-auto me-3">mosab@mosab.com</p>
                <a href="{% url 'updateEmail'  %}">  <button class="btn btn-sm btn-outline-dark mb-0" type="button">Edit</button></a>
              </div>
              <hr class="horizontal dark">
              <div class="d-flex">
                <p class="my-auto"> Change Password</p>
                <p class="text-secondary text-sm ms-auto my-auto me-3">**********</p>
                <a href="{% url 'updatePass'  %}"><button class="btn btn-sm btn-outline-dark mb-0" type="button">Edit</button> </a>
              </div>
              <hr class="horizontal dark">
              <div class="d-flex">
                <p class="my-auto">Phone number:</p>
                <p class="text-secondary text-sm ms-auto my-auto me-3">9999999999</p>
                <a href="{% url 'updateNum'  %}"><button class="btn btn-sm btn-outline-dark mb-0" type="button">Edit</button></a>
              </div>
            </div>
          </div>
          <!-- Card Accounts -->

          <!-- Card Notifications -->
          <div class="card mt-4" id="notifications">
            <div class="card-header">
              <h5>Notifications</h5>
              <p class="text-sm">Choose how you receive notifications. These notification settings apply to the things you’re watching.</p>
            </div>
            <div class="card-body pt-0">
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th class="ps-1" scope="col" colspan="4">
                        <h6 class="mb-0">Activity</h6>
                      </th>
                      <th class="text-center" scope="col">
                        <p class="mb-0">Email</p>
                      </th>

                      <th class="text-center" scope="col">
                        <p class="mb-0">SMS</p>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="ps-1" scope="row" colspan="4">
                        <div class="my-auto">
                          <span class="text-dark d-block text-sm">Mentions</span>
                          <span class="text-xs font-weight-normal">Notify when you get mentions in a comments</span>
                        </div>
                      </td>
                      <td>
                        <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                          <input class="form-check-input" checked="" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                      </td>

                      <td>
                        <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="ps-1" scope="row" colspan="4">
                        <div class="my-auto">
                          <span class="text-dark d-block text-sm">Comments</span>
                          <span class="text-xs font-weight-normal">Notify when another user comments your item.</span>
                        </div>
                      </td>

                      <td>
                        <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                          <input class="form-check-input" checked="" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                      </td>
                      <td>
                        <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="ps-1" scope="row" colspan="4">
                        <div class="my-auto">
                          <span class="text-dark d-block text-sm">Follows</span>
                          <span class="text-xs font-weight-normal">Notify when another user follows you.</span>
                        </div>
                      </td>
                      <td>
                        <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                          <input class="form-check-input" checked="" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                      </td>
                      <td>
                        <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                          <input class="form-check-input" checked="" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                      </td>

                    </tr>
                    <tr>
                      <td class="ps-1" scope="row" colspan="4">
                        <div class="my-auto">
                          <p class="text-sm mb-0">Updates from Ayla</p>
                        </div>
                      </td>

                      <td>
                        <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                          <input class="form-check-input" checked="" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                      </td>
                      <td>
                        <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                          <input class="form-check-input" checked="" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <!-- Card Sessions -->

          <!-- Card Delete Account -->
          <div class="card mt-4" id="delete">
            <div class="card-header">
              <h5>Delete Account</h5>
              <p class="text-sm mb-0">Once you delete your account, there is no going back. Please be certain.</p>
            </div>
            <div class="card-body d-sm-flex pt-0">
              <div class="d-flex align-items-center mb-sm-0 mb-4">
                <div>
                  <div class="form-check form-switch mb-0">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  </div>
                </div>
                <div class="ms-2">
                  <span class="text-dark font-weight-bold d-block text-sm">Confirm</span>
                  <span class="text-xs d-block">I want to delete my account.</span>
                </div>
              </div>
              <button class="btn btn-outline-secondary mb-0 ms-auto" type="button" name="button">Deactivate</button>
              <button class="btn bg-gradient-danger mb-0 ms-2" type="button" name="button">Delete Account</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

     <!-- ***********************************************   END Chart data   ************************************************************** -->


<!-- Tabs navs -->

<!-- Tabs content -->

<!-- Tabs content -->
     <!-- ***********************************************   Footer data   ************************************************************** -->
{% endblock %}