* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a,
img,
button,
input,
select,
span,
i {
  display: inline-block;
}
html {
  font-size: 10px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  box-shadow: 0 2px 40px -5px rgb(42 54 61 / 30%);
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.row.headings h4{
  font-size: 15px;
  margin-bottom: 15px;
}
.row.top {
  margin-bottom: 2rem;
}
.row.top > p {
  text-align: center;
}

.row.middle {
  margin-bottom: 3rem;
}

.imgName {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.row.bottom .imgName {
  margin-bottom: 1rem;
}

.d-flex {
  display: flex;
  gap: 1rem;
}

.row.bottom .d-flex figure figcaption {
  position: relative;
}
.d-flex figure > img {
  width: 4rem;
  height: 4rem;
}

.bolder {
  font-size: 1.6rem;
}
.bold {
  font-size: 1.2rem;
}
.light {
  color: #ccc;
  font-size: 1.3rem;
}
.circle-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.small-img {
  width: 3.5rem;
  height: 3.5rem;
}

.small-circle-img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  position: absolute;
  bottom: -1rem;
  left: -1rem;
}

.small-circle-img ~ img {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  bottom: -1rem;
  left: 0.5rem;
}

.fake-container {
  position: relative;
}
.fake-container .fake {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fake-containerScndRow {
  position: relative;
}
.fake-containerScndRow .fake {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* vro css */

section {
  position: relative;
}

section span:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 101010;
  background-color: #fff;
}
